# Example Local Docker:
#
# For Local Docker, the TYPESENSE_API_KEY and TYPESENSE_SEARCH_API_KEY
# are the same as there's only one key to the local Typesense instance.
#
#   TYPESENSE_API_KEY=local_typesense_admin
#   TYPESENSE_HOST=host.docker.internal
#   TYPESENSE_PORT=8108
#   TYPESENSE_PROTOCOL=http
#   TYPESENSE_SEARCH_API_KEY=local_typesense_admin

# Example Typesense Cloud:
#
# For Typesense Cloud, the TYPESENSE_API_KEY needs to have write access
# to the Typesense cluster because it's used by the scraper to index the
# content, while the TYPESENSE_SEARCH_API_KEY needs to have read-only
# access to the Typesense cluster because it's used by the browser to
# perform search queries.
#
#   TYPESENSE_API_KEY=<ADMIN_TYPESENSE_API_KEY>
#   TYPESENSE_HOST=<TYPESENSE_CLUSTER.a1.typesense.net>
#   TYPESENSE_PORT=443
#   TYPESENSE_PROTOCOL=https
#   TYPESENSE_SEARCH_API_KEY=<READ_ONLY_TYPESENSE_API_KEY>

TYPESENSE_API_KEY=
TYPESENSE_HOST=
TYPESENSE_PORT=
TYPESENSE_PROTOCOL=
TYPESENSE_SEARCH_API_KEY=
